.detroit {
    width: 260px;
    height: 260px;
    border: 29px solid #3498db;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -130px;
    box-sizing: border-box;
  }
  .detroit div {
    position: absolute;
    width: 35px;
    height: 131px;
    background: white;
    top: -30px;
    left: 50%;
    margin-left: -17.5px;
    transform: rotate(0deg);
    transform-origin: bottom;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  .detroit div:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    background: #3498db;
    top: 3px;
    left: -17px;
    border-radius: 30px;
  }
  .detroit div:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    background: #3498db;
    top: 3px;
    right: -17px;
    border-radius: 30px;
  }
  .detroit div:nth-child(1) {
    transform: rotate(0deg);
    animation-name: node1;
  }
  .detroit div:nth-child(2) {
    transform: rotate(180deg);
    animation-name: node2;
  }
  .detroit div:nth-child(3) {
    transform: rotate(200deg);
    animation-name: node3;
  }
  .detroit div:nth-child(4) {
    transform: rotate(0deg);
    animation-name: node4;
  }
  @keyframes node1 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(65deg);
    }
    40% {
      transform: rotate(8deg);
    }
    60% {
      transform: rotate(44deg);
    }
    80% {
      transform: rotate(213deg);
    }
    100% {
      transform: rotate(335deg);
    }
  }
  @keyframes node2 {
    0% {
      transform: rotate(340deg);
    }
    20% {
      transform: rotate(112deg);
    }
    40% {
      transform: rotate(153deg);
    }
    60% {
      transform: rotate(217deg);
    }
    80% {
      transform: rotate(82deg);
    }
    100% {
      transform: rotate(200deg);
    }
  }
  @keyframes node3 {
    0% {
      transform: rotate(260deg);
    }
    20% {
      transform: rotate(283deg);
    }
    40% {
      transform: rotate(112deg);
    }
    60% {
      transform: rotate(120deg);
    }
    80% {
      transform: rotate(301deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }
  @keyframes node4 {
    0% {
      transform: rotate(120deg);
    }
    20% {
      transform: rotate(65deg);
    }
    40% {
      transform: rotate(185deg);
    }
    60% {
      transform: rotate(259deg);
    }
    80% {
      transform: rotate(176deg);
    }
    100% {
      transform: rotate(278deg);
    }
  }